/* Reset CSS
   ------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, input, textarea, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    background: transparent;
}

html, head {
    width: 100%;
}

ul {
    list-style: none;
}

div {
    display: block;
}

* {
    font-smooth: always;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: transparent;
}

strong, .strong {
    font-weight: bolder;
    color: #333333;
}


.styled-select select {
    background: transparent;

    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;

    cursor: pointer;
    font-family: 'Signika', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;

    width: 431px;
    height: 48px;
    background: url(images/select_bg.jpg) no-repeat green;

    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

}

.styled-select select option {
    background: #4d9902;
}


/**
 * formtowanie dla selectu z kalkulatora
 */


.float-left {
    float: left;
}

.float-right {
    float: right;
}

:focus {
    outline: 0;
}

/** 
 * global class
 */
.border-radius-13 {
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -khtml-border-radius: 13px;
    border-radius: 13px;
    behavior: url(border-radius.htc);
}

.border-radius-10 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(border-radius.htc);
}

.border-radius-5 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(border-radius.htc);
}

.border-radius-27 {
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    -khtml-border-radius: 27px;
    border-radius: 27px;
    behavior: url(border-radius.htc);
}

.styleblue {
    color: #497ec6 !important;
}

.style_font_01 {
    color: #333333;
    font-weight: 300;
    font-size: 26px;
    font-family: 'Signika', sans-serif;
    text-align: center;
}

.additional_padding_20 {
    padding: 20px 0;
}

/**
 * let's start bro.
 */
div#site {
    width: 100%;
    height: 100%;
    display: table;
}

/**
 * ogolnie uzywany jako naglowkowy
 */
div#site div#content_page div#page h1#faq_questions {
    font-weight: 700;
    font-size: 48px;
    font-family: 'Gabriola', sans-serif;
    color: #00674f;
    text-align: center;
    margin: 0px 0 30px 0;
}

/**
 * ustawienia roznych dla roznego rodzaju top
 */
div#site div#content_top.small {
    background: url('images/topsmall.jpg') no-repeat center center;
    height: 343px;
}

/**
 * ustawienia dla topu bez tla (same menu)
 */
div#site div#content_top.onlymenu {
    background: #4f9b03;
    height: 110px;
}


/**
 * ustawienia dla roznego rodzaju powiadomien
 */
div#site div#content_page div#page div#block_notify {
    padding: 100px;
    color: #333333;
}

div#site div#content_page div#page div#block_notify ul#notify {
    display: table;
    margin: auto;
}

div#site div#content_page div#page div#block_notify h1 {
    text-align: center;
    font-size: 35px;
    display: table;
    margin: auto;
    margin-top: 50px;
}

div#site div#content_page div#page div#block_notify h2 {
    text-align: center;
    font-size: 22px;
    display: table;
    margin: auto;
}

div#site div#content_page div#page div#block_notify ul#notify li {
    width: 157px;
    height: 157px;
}

div#site div#content_page div#page div#block_notify ul#notify li.icon_08 {
    background: url('images/icon_08.jpg') no-repeat center center;
}

div#site div#content_page div#page div#block_notify ul#notify li.icon_09 {
    background: url('images/icon_09.jpg') no-repeat center center;
}

div#site div#content_page div#page div#block_notify ul#notify li.icon_10 {
    background: url('images/icon_10.jpg') no-repeat center center;
}


/**
 * ustawienia dla bloku "kontakt"
 */
div#site div#content_page div#page div#block_guidelines {
}

div#site div#content_page div#page div#block_guidelines h2,
div#site div#content_page div#page .additional_title {
    padding: 10px 100px 0 100px;
    text-align: center;
    color: #333333;
    font-weight: 300;
    font-size: 26px;
    font-family: 'Gabriola', sans-serif;
}

div#site div#content_page div#page .additional_title {
    font-weight: bolder;
    font-size: 23px;
}

div#site div#content_page div#page div#block_guidelines div#guidelines_desc {
    width: 1000px;
    display: table;
    margin: auto;
    font-size: 13px;
    text-align: center;
    color: #5a5a5a;
    font-family: 'Tahoma', sans-serif;
    line-height: 30px;
}

div#site div#content_page div#page div#block_guidelines div#guidelines_desc strong {
    clear: both;
    display: block;
    margin-top: 20px;
}

div#site div#content_page div#page div#block_guidelines ul#guidelines {
    margin-top: 30px;
    display: table;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 2px solid #f6f6f6;
}

div#site div#content_page div#page div#block_guidelines ul#guidelines li {
    float: left;
    width: 330px;
    height: 300px;
    color: #89898a;
    text-align: center;
    font-weight: 300;
    font-size: 19px;
    font-family: 'Gabriola', sans-serif;
}

div#site div#content_page div#page div#block_guidelines ul#guidelines li h1 {
    margin-top: 280px;
}

div#site div#content_page div#page div#block_guidelines ul#guidelines li.icon_06 {
    background: url('images/icon_06.jpg') no-repeat center center;
    margin-right: 40px;
}

div#site div#content_page div#page div#block_guidelines ul#guidelines li.icon_07 {
    background: url('images/icon_07.jpg') no-repeat center center;
    margin-left: 40px;
}

div#site div#content_page div#page div#block_guidelines div#listof {
    display: table;
    color: #5a5a5a;
    font: 12pt Tahoma;
    margin: 60px auto 100px auto;
}

div#site div#content_page div#page div#block_guidelines div#listof div#listofleft {
    float: left;
    width: 500px;
}

div#site div#content_page div#page div#block_guidelines div#listof div ul li {
    padding: 20px 0;
    padding-left: 20px;
    text-align: center;
    display: table;
    margin: auto;
    background: url('images/guidelines_list_ul.jpg') no-repeat left center;
}


/**
 * ustawienia dla bloku "kontakt"
 */
div#site div#content_page div#page div#contact {

    height: 300px;
    display: table;
    width: 1000px;
    margin: auto;
}

div#site div#content_page div#page div#contact h2.request_title {
    font-size: 30px;
    margin-left: 20px;
    color: #333333;
}

div#site div#content_page div#page div#contact div#contact_block {
    background: url('images/icon_05.jpg') no-repeat 100px 30px;
    width: 100%;
    display: table;


}

div#site div#content_page div#page div#contact div#contact_box ul {
    margin: 35px 0 0 280px;
    color: #7c7c7c;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Signika', sans-serif;
}

div#site div#content_page div#page div#contact div#contact_box ul li {
    margin-top: 10px;
}

div#site div#content_page div#page div#contact_form {
    float: right;
    width: 600px;
    height: 300px;
    color: #333333;
    display: table;
    font-weight: 300;
    font-size: 16px;
    float: right;
    font-family: 'Signika', sans-serif;
}

div#site div#content_page div#page div#contact_form ul li.inputs {
    margin: 20px;
    font-weight: 100;
    font-size: 19px;
    display: table;
    width: 600px;
}

div#site div#content_page div#page div#contact_form ul li.inputs span {
    padding-top: 10px;
    display: block;
    float: right;
    font-weight: 300;
    font-family: 'Tahoma', sans-serif;
    text-align: right;
    margin-right: 10px;
}

div#site div#content_page div#page div#contact_form ul li.inputs input,
div#site div#content_page div#page div#contact_form ul li.inputs textarea {
    background: #fcfcfc;
    width: 433px;
    height: 25px;
    float: right;
    moz-box-shadow: inset 0 2px 3px #d5d5d5;
    -webkit-box-shadow: inset 0 2px 3px #d5d5d5;
    padding: 5px;
    box-shadow: inset 0 2px 3px #d5d5d5;
    border: 1px solid #cbcbcb;
}

div#site div#content_page div#page div#contact_form ul li.inputs textarea {
    height: 90px;
    resize: none;
}

/**
 * ustawienia bloku "jak uzyskac pozyczke"
 */
div#site div#content_page div#page div#block_how_get {
    margin-bottom: 100px;
    font-family: 'Tahoma', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

div#site div#content_page div#page div#block_how_get ul li {
    height: 126px;
    padding-left: 222px;
    color: #8c8c8c;
    background: blue;
    margin: 20px 0;
}

div#site div#content_page div#page div#block_how_get ul li h1 {
    padding-top: 50px;
}

div#site div#content_page div#page div#block_how_get ul li.icon_01 {
    background: url('images/icon_01.jpg') no-repeat 40px center;
}

div#site div#content_page div#page div#block_how_get ul li.icon_02 {
    background: url('images/icon_02.jpg') no-repeat 40px center;
}

div#site div#content_page div#page div#block_how_get ul li.icon_03 {
    background: url('images/icon_03.jpg') no-repeat 40px center;
}

div#site div#content_page div#page div#block_how_get ul li.icon_04 {
    background: url('images/icon_04.jpg') no-repeat 40px center;
}

/**
 * ustawienia dla bloku z komentarzami
 */
div#site div#content_page div#page div#block_comments {
    width: 207px;
    float: right;
    height: auto;
    margin: 0px 0 30px 0;
    padding: 10px;
    border: 1px solid #c7c7c7;
    margin-right: 20px;
}

div#site div#content_page div#page div#block_comments h2 {
    background: url('images/comments_icon.gif') no-repeat left 10px center;
    padding-top: 5px;
    min-height: 32px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    font-family: 'Tahoma', sans-serif;
    color: #529f03;
    border-bottom: 2px solid #f0f0f0;
}

div#site div#content_page div#page div#block_comments ul li {
    border-bottom: 2px solid #f0f0f0;
    padding: 10px 0;
}

div#site div#content_page div#page div#block_comments ul li span {
    clear: both;
    display: block;
}

div#site div#content_page div#page div#block_comments ul li span.author {
    font-size: 17px;
    color: #009c6f;
    font-weight: bold;
    font-family: 'Tahoma', sans-serif;
}

div#site div#content_page div#page div#block_comments ul li span.date {
    font-size: 11px;
    color: black;
    position: relative;
    margin-top: -18px;
    color: #c1c1c1;
    float: right;
    right: 0;
    font-family: 'Tahoma', sans-serif;
}

div#site div#content_page div#page div#block_comments ul li span.message {
    padding-top: 15px;
    color: #5a5a5a;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Tahoma', sans-serif;
}

div#site div#content_page div#page div#block_comments ul li:last-child {
    border-bottom: 2px solid transparent;
}

/**
 * ustawinia dla bloku faq
 */
div#site div#content_page div#page div#block_faq {
    width: calc(100% - 300px);
    margin-bottom: 70px;
    float: left;
}

div#site div#content_page div#page div#block_faq ul li {
    clear: both;
    margin-bottom: 23px;

}

div#site div#content_page div#page div#block_faq ul li h1 {
    color: white;
    font-size: 15px;
    font-family: 'Tahoma', sans-serif;
    font-weight: 300;
    padding: 10px 0 10px 50px;
    cursor: pointer;
    background: white url('images/faq_noactive.gif') no-repeat left 20px center;
    border: 1px solid #c7c7c7;
    color: #5a5a5a;
}

div#site div#content_page div#page div#block_faq ul li.active h1 {
    background: #009c6f url('images/faq_active.gif') no-repeat left 20px center;
    color: white;

}

div#site div#content_page div#page div#block_faq ul li p {
    display: none;
    text-align: justify;
    padding: 20px;
    color: #333333;
    line-height: 23px;
    font: 12px Tahoma;
    line-height: 25px;
    height: 100px;
}

div#site div#content_page div#page div#block_faq ul li.active p {

}

/**
 * ustawienia duzego topu
 */
div#site div#content_top {
    background: #509c04 url('images/top.jpg') no-repeat center center;
    height: 551px;
}

div#site div#content_top.empty {
    background: #509c04 url('images/empty_top.jpg') no-repeat center center;
    height: 430px;
}

div#site div#content_top div#top {
    height: 551px;
    margin: auto;
    width: 1300px;
}

div#site div#content_top div#top div#top_menu {
    box-shadow: 1px 1px 2px #575757;
    -moz-box-shadow: 1px 1px 2px #575757;
    -webkit-box-shadow: 1px 1px 2px #575757;
    height: 68px;
    width: 100%;
    background: url('images/menu_bg.gif') center center repeat-x;
    margin: 10px 0 0 0;
    display: inline-table;
}

div#site div#content_top div#top div#top_menu div#logo {
    height: 68px;
    width: 235px;
    float: left;
    background: url('images/logo.png') no-repeat 30px center;
}

div#site div#content_top div#top div#top_menu div#logo a {
    display: table;
    width: 100%;
    height: 100%;
}

div#site div#content_top div#top div#top_menu ul {
    float: right;
    margin-right: 30px;
}

div#site div#content_top div#top div#top_menu ul li {
    float: left;
    display: block;
    font-family: 'Gabriola', sans-serif;
    font-size: 26px;
    height: 21px;
    color: #808080;
    margin-top: 14px;
    padding: 0px 10px;
}

div#site div#content_top div#top div#top_menu ul li.active a,
div#site div#content_top div#top div#top_menu ul li:hover a {
    color: white !important;
    background: #009b68;
    padding: 10px;
}

div#site div#content_top div#top div#top_menu ul li a {
    text-decoration: none;
    color: #808080;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(border-radius.htc);
}

/**
 * ustawienia dla sloganu [duzy top]
 */
div#site div#content_top div#top div#slogan {
    display: inline-table;
    margin-top: 20px;
}

div#site div#content_top div#top div#slogan h1,
div#site div#content_top div#top div#slogan h2 {
    font-family: 'Impact', sans-serif;
    font-size: 46px;
    text-shadow: 1px 1px 3px #797979;
    color: white;
    margin-left: 15px;

}

div#site div#content_top div#top div#slogan h2 {
    font-size: 37px;
    font-weight: 200;
    font: 46px Gabriola;
    margin-top: -17px;
}

div#site div#content_top div#top div#slogan ul {
    margin: 20px 0 0 34px;
}

div#site div#content_top div#top div#slogan ul li {
    font-family: 'Gabriola', sans-serif;
    font-size: 26px;
    padding: 0px 0 0 30px;
    text-shadow: 1px 1px 3px #797979;
    font-weight: 200;
    background: url('images/list.gif') no-repeat left center;
    color: white;
}

div#site div#content_page {
    height: auto;
}

div#site div#content_page div#page {
    height: auto;
    width: 1260px;
    margin: auto;
    padding: 30px;
    display: table;
}

/**
 * konfiguracja bloku kim jestesmy i jak działamy
 */
div#site div#content_page div#page div#how_it_works_box {

}

div#site div#content_page div#page div#how_it_works_box div#hiw_box_left {
    padding: 30px;
    width: 50%;
    float: left;
    border-right: 1px solid #d6d6d6;
}

div#site div#content_page div#page div#how_it_works_box div#hiw_box_left h1 {
    font: 45px Gabriola;
    color: #00674f;
    font-weight: bold;

}

div#site div#content_page div#page div#how_it_works_box div#hiw_box_left h2 {
    font: 40px Gabriola;
    color: #00674f;
    margin-top: -30px;
}

div#site div#content_page div#page div#how_it_works_box div#hiw_box_left p {
    font: 15px Tahoma;
    color: #4f4f4f;
}

div#site div#content_page div#page div#how_it_works_box div#hiw_box_right {
    width: 545px;
    background: url('images/how_it_work.jpg') no-repeat left center;
    height: 250px;
    float: right;
}

div#site div#content_page div#page div#hiw_full_box {
    clear: both;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}

div#site div#content_page div#page div#hiw_full_box p {
    font: 14px Tahoma;
    line-height: 22px;
    color: #4f4f4f;
}

/**
 * ustawienia dla bloku 'lista kroków'
 */
div#site div#content_page div#page div#steps {
    display: table;
    margin: auto;
    font-family: 'Gabriola', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #00674f;
    clear: both;
    margin-bottom: 30px;
}

div#site div#content_page div#page div#steps h1 {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Gabriola', sans-serif;
}

div#site div#content_page div#page div#steps h2 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    margin-top: -30px;
    margin-bottom: 40px;
}

div#site div#content_page div#page div#steps div.step {
    float: left;
    height: 365px;
    width: 256px;
    background: white;
}

div#site div#content_page div#page div#steps div.step.arrow_down {
    width: 56px;
    background: url('images/arrow_down.jpg') no-repeat center 150px;
}

div#site div#content_page div#page div#steps div.step ul {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

div#site div#content_page div#page div#steps div.step li.step_no {
    color: #999da3;
    font-size: 22px;
    text-transform: uppercase;
}

div#site div#content_page div#page div#steps div.step li.step_no strong {
    color: #4d7fcd;
    font-size: 30px;
}

div#site div#content_page div#page div#steps div.step li.step_title {
    color: #333333;
    font-size: 27px;
}

div#site div#content_page div#page div#steps div.step li.step_description {
    color: #545454;
    font: 20px Gabriola;
    width: 150px;
    display: table;
    margin: auto;
    margin-top: 270px;
}

div#site div#content_page div#page div#steps div.step ul#step_01 {
    background: url('images/step_01.jpg') no-repeat center 40px;
}

div#site div#content_page div#page div#steps div.step ul#step_02 {
    background: url('images/step_02.jpg') no-repeat center 40px;
}

div#site div#content_page div#page div#steps div.step ul#step_03 {
    background: url('images/step_03.jpg') no-repeat center 40px;
}

div#site div#content_page div#page div#steps div.step ul#step_04 {
    background: url('images/step_04.jpg') no-repeat center 40px;
}

/**
 * ustawienia dla bloku fm (pozyczki fm dla kazdego!)
 */
div#site div#content_page div#page div#block_fm {
    width: calc(100% + 131px);
    height: auto;
    font-family: 'Gabriola', sans-serif;
    height: 445px;
    background: url('images/fm_block_bg.jpg') no-repeat left center;

    border-top: 2px solid #f6f6f6;
    margin-top: 80px;
    margin-left: -131px;
    display: table;
    padding-bottom: 20px;
}

div#site div#content_page div#page div#block_fm_content {
    width: 680px;
    height: 100%;
    float: right;
    display: table;
}

div#site div#content_page div#page div#block_fm_content div#fm_block_icon {
    background: url('images/fm_block_icon.jpg') no-repeat left center;
}

div#site div#content_page div#page div#block_fm_content h1 {
    font-size: 36px;
    margin: 30px 0 0 70px;
    color: #5a5a5a;
}

div#site div#content_page div#page div#block_fm_content h2 {
    font-size: 36px;
    color: #00674f;
    font-weight: 300;
    margin-top: -20px;
    margin: -24px 0 0 70px;
}

div#site div#content_page div#page div#block_fm_content ul {
    margin-top: 30px;
    font: 14px Tahoma;
    color: #5a5a5a;
}

div#site div#content_page div#page div#block_fm_content ul h3 {
    font-size: 15px;
    color: #494949;
    font-weight: bold;
}

div#site div#content_page div#page div#block_fm_content ul p {
    line-height: 22px;
    padding-top: 10px;
    display: none;
    height: 120px;
}

div#site div#content_page div#page div#block_fm_content ul li p strong {
    font-weight: bolder;
}

div#site div#content_page div#page div#block_fm_content ul li {
    padding-left: 20px;
    cursor: pointer;
    color: #333333;
}

div#site div#content_page div#page div#block_fm_content ul li.active {

}

div#site div#content_page div#page div#block_fm_content ul li.active h3 {

}

div#site div#content_page div#page div#block_fm_content ul li.active p {
    display: block;
}

/**
* ustawienia dla stopki
*/
div#site div#footer {
    width: 100%;
    height: 65px;
    background: #212121;
}

div#site div#footer div#content_footer {
    color: #9f9f9f;
    font: 14px Arial, Helvetica, sans-serif;
    font-weight: normal;
    clear: both;
    display: table;
    margin: auto;
    width: 1300px;
    height: 65px;
    background: url('images/logo.png') no-repeat right 20px center;

}

div#site div#footer div#content_footer ul li {
    float: left;
    font-size: 14px;
    margin: 0 5px;
    font: 13px Tahoma;
    color: #e2e2e2;
    line-height: 20px;
    padding-top: 25px;
}

div#site div#footer div#content_footer ul li:first-child {
    padding-right: 20px;
}

div#site div#footer div#content_footer ul li a {
    color: #e2e2e2;
    font-weight: bold;
}


/**
 * ustawienia dla range slidera
 */
.rangeslider,
.rangeslider__fill {
    background: #321537;
    display: block;
    height: 14px;
    width: 100%;

}

.rangeslider {
    position: relative;
    border: 4px solid #008863;
}

.rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
}

.rangeslider__fill {
    background: #00a376;
    position: absolute;
    top: 0;
}

.rangeslider__handle {

    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 35px;
    position: absolute;
    top: -10px;
    background: url('images/range_handler.png');
}


/**
* ustawienia dla kalkulatora [duzy top]
*/
div#site div#content_top div#top div#calculator {
    float: right;
    width: 630px;
    height: 347px;
    padding-left: 100px;
    background: url('images/calculator_handle.png') no-repeat left center;
}

div#site div#content_top div#top div#calculator ul.ranger {
    clear: both;
    display: table;
    border-bottom: 1px solid #098161;
    margin-top: 10px;
    padding-bottom: 10px;
}

div#site div#content_top div#top div#calculator ul.ranger:last-child {
    border-bottom: 1px solid transparent;
}

div#site div#content_top div#top div#calculator ul.ranger li {
    float: left;
    margin-top: 5px;
}

div#site div#content_top div#top div#calculator ul.ranger li.title {
    width: 140px;
    font: 20px Impact;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
}

ul.ranger li.title span {
    text-shadow: 1px 2px 3px #222222;
}

div#site div#content_top div#top div#calculator ul.ranger li.range {
    width: 300px;
    padding-top: 15px;
}

div#site div#content_top div#top div#calculator ul.ranger li.value {
    width: 120px;
    height: 50px;
    background: url('images/ranger_out_value.jpg') no-repeat right center;
    text-align: center;
    font: 20px Impact;
}

div#site div#content_top div#top div#calculator ul.ranger li.value h4 {
    float: right;
    width: 77px;
    color: #321537;
}

div#site div#content_top div#top div#calculator ul.ranger li.value h5 {
    color: #aeaeae;
    float: right;
    width: 77px;
}

div#site div#content_top div#top div#calculator ul.ranger li.legend {
    clear: both;
    margin-left: 150px;
    font: 13px Impact;
    color: white;
    margin-top: -10px;
    width: 300px;
}


div#site div#content_top div#top div#calculator h1,
div#site div#content_top div#top div#calculator_more h1 {

    display: block;
    height: 32px;
    padding-top: 30px;
}


div#site div#content_top div#top div#calculator_more h1#header_1 {
    background: url('images/calculator_header_1.jpg') no-repeat left center;
    margin-bottom: 20px;
}

div#site div#content_top div#top div#calculator h1#header_2 {
    background: url('images/calculator_header_2.jpg') no-repeat left center;
}


div#site div#content_top div#top div#calculator ul#calc_right {
    display: table;
    margin-left: 15px;
}

div#site div#content_top div#top div#calculator ul#calc_right > li {
    clear: both;
}

div#site div#content_top div#top div#calculator ul#calc_right li.title {
    font-family: 'Signika', sans-serif;
    color: white;
    font-size: 22px;
    clear: both;
    float: left;
    margin: 30px 10px 10px 10px;
}

div#site div#content_top div#top div#calculator ul#calc_right li.select_range {

}

div#site div#content_top div#top div#calculator ul#calc_right li.legend li {
    float: left;
    display: table;
    padding: 0 20px;
}


div#site div#content_top div#top div#calculator_more {
    float: left;
    width: 40%;
    display: table;
    margin-left: 20px;
}

div#site div#content_top div#top div#calculator_more ul li#credit {
    background: #78b913;
    color: #1c3501;
    padding: 6px 3px;
}

div#site div#content_top div#top div#calculator_more ul li#result {
    font-size: 28px;
    padding: 30px 0;
}

div#site div#content_top div#top div#calculator_more ul li#result h2 {
    padding-top: 10px;
    float: left;
}

div#site div#content_top div#top div#calculator_more ul li#result input {
    width: 175px;
    height: 55px;
    background: #4784ce;
    color: white;
    text-align: center;
    margin-left: 20px;
    -moz-box-shadow: inset 0 2px 5px #3767a1;
    -webkit-box-shadow: inset 0 2px 5px #3767a1;
    box-shadow: inset 0 2px 5px #3767a1;
}

div#site div#content_top div#top div#calculator_more ul {
    background: rgb(54, 25, 25);
    background: rgba(54, 25, 25, .3);
    padding: 20px;
}

div#site div#content_top div#top div#calculator_more ul li {
    clear: both;
    color: white;
    font-size: 16px;
    display: table;
    padding: 3px;
    font-family: 'Signika', sans-serif;
    border-bottom: 1px solid #09785c;
    width: 100%;
    padding: 10px 0;
}

div#site div#content_top div#top div#calculator_more ul li:last-child {
    border-bottom: 1px solid transparent;
}

div#site div#content_top div#top div#calculator_more ul li span {
    float: right;
}

div#site div#content_top div#top div#calculator_more ul li small {
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
    padding: 5px 0;
}

div#site div#content_top div#top div#calculator_more ul li input.result {
    width: 80px;
    height: 33px;
    text-align: center;
    font: white !important;
    background: url('images/result_input_bg.jpg') no-repeat;
}

div#site div#content_top div#top div#calculator_more ul li > div {
    clear: both;
    margin-top: 10px;
}

div#site div#content_top div#top div#calculator_more ul li div div {
    width: 435px;
    margin: 10px 10px 0 10px;
}

div#site div#content_page div#page div#request_block {
    margin-top: 50px;
}

div#site div#content_page div#page div#request_box {
    float: left;
    width: 400px;
    margin-right: 200px;
}

div#site div#content_page div#page div#request_box ul {
    margin: 20px;
}

div#site div#content_page div#page div#request_box ul li {
    padding: 4px;
    color: #505050;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

div#site div#content_page div#page div#request_box ul li span {
    float: right;
    color: #333333;
    font-weight: 700;
}
